[Unit]
Description=Django Custom Python Web Server
After=network.target

[Service]
User=root
WorkingDirectory=/web/django/webapp
ExecStart=/web/django/webapp/venv/bin/python3 /web/django/webapp/manage.py runserver 0.0.0.0:8000
Restart=always

[Install]
WantedBy=multi-user.target
