[Unit]
Description=Django Custom Python Web Server
After=network.target

[Service]
User=root
WorkingDirectory=/home/ssm-user/web/django/webapp
ExecStart=/home/ssm-user/web/django/webapp/venv/bin/python3 /home/ssm-user/web/django/webapp/manage.py runserver 0.0.0.0:8000
Restart=always

[Install]
WantedBy=multi-user.target