[Unit]
Description=Django Custom Python Web Server
After=network.target

[Service]
User=ssm-user
WorkingDirectory=/home/ssm-user/webapp
ExecStart=sudo python3 manage.py runserver 0.0.0.0:8000
Restart=always

[Install]
WantedBy=multi-user.target
